@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-control {
    z-index: 0 !important;
}
.leaflet-pane {
    z-index: 0 !important;
}
.leaflet-top,
.leaflet-bottom {
    z-index: 0 !important;
}

:root {
    --theme-bg-primary: #FDF6E3;
    --theme-bg-secondary: #EEE8D5;
    --theme-text-primary: #657B83;
    --theme-text-secondary: #268BD2;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('/Roboto/static/Roboto_Condensed-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('/Roboto/static/Roboto_Condensed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

*[data-font='roboto'] {
    .text {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 500;
        font-size-adjust: 0.6;
    }

    .text h3,
    h3.text,
    .text h2,
    h2.text {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
    }

    .bold-text {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 700;
    }

    .medium-text {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 500;
    }
}

.text-roboto {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size-adjust: 0.6;
}

html,
body {
    @apply bg-primary text-primary;
    font-family: 'Roboto Condensed', sans-serif;
    /* letter-spacing: 0.06em; */
}

.card {
    @apply rounded-sm bg-secondary;
}

.card:not(:has(.no-padding)) {
    padding: 1rem;
}

.card.no-padding {
    padding: 0;
}

.button {
    @apply px-2 py-1 rounded-sm bg-primary text-primary hover:bg-tertiary hover:text-primary;
}
.button:disabled {
    @apply bg-primary text-secondary line-through cursor-not-allowed;
}

.button-primary {
    @apply bg-[#70844E] text-primary hover:bg-[#536335] hover:text-primary;
}

input.input {
    @apply px-2.5 py-1 rounded-sm bg-primary text-primary hover:border-none outline-offset-4 max-w-full;
    /* @apply outline-accent; */
}

.link {
    @apply text-secondary hover:brightness-125;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
